<% content_for :head do %>
	<script>
	var pages=[];
	var images=[];
	var current_page;
	$(document).ready(function(){
		
			$.getJSON("/books/<%=@book.id%>", function(result){
				pages =result.assets;
				$("#page_image").attr("src", pages[0].location);
				for(var page in pages){
					console.log(pages[page]);
					images[page]= $("<img id='page_image' width=500></img>").attr("src",pages[page].location );
				}
				current_page=0;
			});
			
			$("#next_page").click(function(event){
				if(current_page+1 !=pages.length){
					current_page =current_page+1;
					$("#page_image").remove();
					$("#book_page").append(images[current_page]);
				}
			});
			
			$("#prev_page").click(function(event){
				if(current_page-1>= 0){
					current_page =current_page-1;
					$("#page_image").remove();
					$("#book_page").append(images[current_page]);
				}
			});
			
		});

	</script>
<%end%>



<div id= 'book_details'>
	<p id="book_title"> <%=@book.title%></p>
	<%if @book.composer%>
		<p id="author"> by <%=@book.composer%></p>
	<%end%>
	<p id="no pages">  <%=@book.assets.count%> pages</p>
</div>
<div id='book_page'>
	<p id="prev_page">prev</p>
	<p id="next_page">next</p>
	<img width=500 id="page_image"></img>
	
</div>


