<div id="banner">
  <a href="/"><h1><%= SiteConfig.application_name %></h1></a>
	<% if current_zooniverse_user %>
  <p class="nav"> <a href="/transcribe">Transcribe</a></p>
  <p class="nav"> <a href="/transcriptions/">My transcriptions</a></p>
	<% end %>
  <p class="nav"> <a href="/asset_collections/">Collections</a></p>
</div>
