<div id="banner">
	<p class="user"><%=current_zooniverse_user.name if current_zooniverse_user%></p>
  <a href="/"><h1>Whats the score?</h1></a>
  <p class="nav"> <a href="/transcribe">Transcribe</a></p>
  <p class="nav"> <a href="/transcriptions/">My transcriptions</a></p>
  <p class="nav"> <a href="/books/">Books</a></p>

</div>
