<h1 id="project_about_title">About Whats the Score at the Bodleian?</h1>

<div id="project_about">
<p>What’s the score at the Bodleian? is a project which aims to enlist
the wider community’s help in describing a selection of digitised
scores from the Bodleian Library’s extensive music collections,
thereby facilitating access to valuable and interesting material which
has not been catalogued and is therefore difficult to find.  The
approach is two-fold in that it combines a process of rapid
digitization of the scores and the creation of descriptive metadata
through crowd-sourcing, and it is hoped that the outcomes of the
project can be used to inform an efficient yet cost-effective approach
to creating access to other music-related material in the Bodleian in
the future.  It is hoped that there will also be scope in the final
delivery of images and crowd-sourced data for additional enhancements
such as the hosting of audio performances relating to the music scores
and provision of external links to video performances.  More
information about this Google-funded project is available from both
its web-pages and its blog.</p>
<p>
The sequence of music scores selected for the initial phase of the
project comprises some 4,300 music scores for piano, dating from the
period 1860-1880, many of which have illustrated covers.  The material
reflects the growing interest in popular music of the period and the
social function it performed during the Victorian age, allowing
literary scholars, historians and musicologists to explore more fully
the role of amateur music within contexts as diverse as music
education, domestic entertainment and gender relations.
</p>

</div>

