<h1>My Transcriptions</h1>

<ul id="transcription_list">
<%@transcriptions.each do |transcription|%>
	<li> <%=link_to image_tag(transcription.asset.location, :width=>200,:height=>275,:class=>"asset_image"),:controller=>"transcriptions", :action=>:edit, :id=> transcription.id %>
		<p> Has <%=transcription.annotations.count%> transcriptions</p>
		<p><%=link_to "edit", :controller=>"transcriptions", :action=>:edit, :id=> transcription.id%> transcriptions </p> 
	</li>
<%end%>
</ul>

