<%content_for :head do %>
<script>


$(document).ready(function(){
	$.getJSON('/template_for_asset/0', function(template){
		console.log(template);
		$("#page").annotate({template : template,
							 initalEntity: "Weather observation",
							 doneButton:$("#doneButton"),
							 imageURL : "/images/testPage.png",
							 submitURL : "/transcriptions/",
							 zoomBoxWidth: 500,
							 zoomBoxHeight: 100,
							 assetWidth: 1317,
							 assetHeight:2048,
							 assetScreenWidth:658,
							 assetScreenHeight:1024 }
							 );
	});
	
});
</script>


<%end%>

<div id="page"></div>
<a id ="doneButton" href="#">done</a>